<ion-header>
  <ion-navbar style="max-height: 56px">
    <ion-title style="text-align: center">
      <img style="margin-top: 5px; max-height: 54px;" src="../../assets/imgs/title3.png"/>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="width: 100%; text-align: center; font-size: 1.1em;">
    <p>Tire a foto de algum filme e diremos qual é o filme.</p>
    <button ion-button style="width: 90px; height: 40px; font-size: 25px; background-color: unset; background-image: linear-gradient(#FF5D28, #DD1123);" (click)="openCamera()">
      <ion-icon name="md-camera"></ion-icon>
    </button>
  </div>
  
  <p *ngIf="myphoto"><img src="{{ myphoto }}"/></p>
  <p *ngIf="myphoto">Selecione a porcentagem de reconhecimento e envie.</p>
  <ion-item *ngIf="myphoto" style="margin-top: 10px;">
    <ion-range min="0" max="100" pin="true" [(ngModel)]="threshhold" color="secondary">
      <ion-icon range-left small>0</ion-icon>
      <ion-icon range-right >100</ion-icon>
    </ion-range>
  </ion-item>
  <div *ngIf="myphoto" style="width: 100%; text-align: center; font-size: 1.1em;">
    <button style="background-color: unset; background-image: linear-gradient(#FF5D28, #DD1123);" ion-button (click)="reconhecer()">
      Reconhecer
    </button>
  </div>
</ion-content>