page-home {
  .item-inner{
    border: none !important;
  }
  ion-range{
    padding-left: 0px !important;
    padding-right: 0px !important;    
  }
}
html, body, .ion-app, .ion-content {
  background-color: transparent;
}

