
<ion-header>

  <ion-navbar>
    <ion-title style="color: #fff">
      <ion-icon style="float: left; font-size: 1.6em; margin-left: 15px;" name="close" (click)="closeModal()"></ion-icon> 
      <label style="margin-left: 10px; font-size: 1.3em;">Detalhes</label>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align: center">
  <h2>{{filmes[0].movieInfo.nomeCompletoFilme}} ({{filmes[0].simmilarity}}%)</h2>
  <img style="width: 60%;" src="{{filmes[0].movieInfo.poster}}" />
  <div style="text-align: justify; font-size: 1.1em; margin-top: 10px;">
    {{filmes[0].movieInfo.sinopse}}  
  </div>
  <ion-list style="margin-top:20px;">
    <ion-item *ngFor="let filme of filmes">
      <ion-avatar item-start>
        <img src="{{filme.movieInfo.poster}}">
      </ion-avatar>
      <h2>{{filme.movieInfo.nomeCompletoFilme}}</h2>
      <h3>Imagem: {{filme.imageName}}</h3>
      <p>Similaridade encontrada: {{filme.simmilarity}}%</p>
    </ion-item>
  </ion-list>
</ion-content>